body{
    background-image: url("http://getwallpapers.com/wallpaper/full/4/a/7/188752.jpg");
}

#gameArea{
    background-color: transparent;
    width: 50%;
    height: 500px;
}
#instructions{
    color: white;
    text-align: center;
    margin-bottom: 2%;
}

#score{
    color: white;
    text-align: center;
}

#playerShip{
    width: 25%; 
    height: 40%; 
    object-fit: contain;
    background-color: transparent;
    position: relative;
    top: 35%;
    left: 41%;
}

.laser{
    width: 50px;
    height: 50px;
    position: relative;
}

.enemy{
    width: 20%; 
    height: 40%; 
    object-fit: contain;
    background-color: transparent;
    position: absolute;

}

@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }

.dead-enemy {
    animation: fadeinout 3s linear 1 ;
    width: 200px;
    height: 250px;
    position: absolute;
    opacity: 0;
    
  }

  #startBtn{
      margin-left: 43%;
  }